{%include 'admin_header.html'%}
<br><br>
<b>The overseeing and managing incident-related data and user access. Admins have the authority to monitor, edit, and maintain records of reported incidents, and they can grant permissions and access rights to officers and users.</b>
<br><br>


  <section id="hero">
    
    
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        
        <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
        </div>

        
      </div>

      
    </div>
  </section>

{%include 'footer.html'%}