
    {%include 'officer_header.html'%}

    <B>The law enforcement and incident response personnel. Officers have the responsibility to investigate and take action on reported incidents. They can access incident details, update incident statuses, and communicate with users for resolution.</b>

    <br><br>
    <section id="hero">
    
    
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
        <div class="carousel-inner" role="listbox">
  
          <!-- Slide 1 -->
          
          <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-2.jpg)">
          </div>
  
          
        </div>
  
        
      </div>
    </section>
    
    {%include 'footer.html'%}
