{% include 'user_header.html' %}

    <b>The User module is the primary interface for individuals to report incidents and seek assistance. Users can submit incident reports, view incident status, and communicate with officers or administrators. This module empowers individuals to participate in incident management.</b>
        
<br><br>
<section id="hero">
    
    
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        
        <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-3.jpg)">
        </div>

        
      </div>

      
    </div>
  </section>

{% include 'footer.html' %}