<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <table border="2" align="center">
            <tr>
                <th>Comment</th>
                <td><input type="text" name="comment1"></td>
            </tr>
            <tr>
                <th>date</th>
                <td><input type="date" name="date1"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>